.advantages {
  padding: 35px 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 158px 31px 59px 36px;
  }
}

.advantages__list {
  @include reset-list;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    text-align: center;
  }
}

.advantages__item {
  position: relative;

  &--hous {
    grid-column: 1/2;
    grid-row: 1;
  }

  &--housing > .advantages__title::before {
    $width: 39px;
    content: "";
    width: $width;
    height: 37px;
    position: absolute;
    left: -$width;
    top: 0;
    margin-left: -9px;
    background: url("../img/icon-house.svg") no-repeat center;
  }

  &--souvenirs {
    grid-column: 3/4;
    grid-row: 1;
  }

  &--souvenirs > .advantages__title::before {
    $width: 32px;
    content: "";
    width: $width;
    height: 38px;
    position: absolute;
    left: -$width;
    top: 0;
    margin-left: -13px;
    background: url("../img/icon-gift.svg") no-repeat center;
  }

  &--food {
    grid-column: 2/3;
    grid-row: 1;
  }

  &--food > .advantages__title::before {
    $width: 40px;
    content: "";
    width: $width;
    height: 35px;
    position: absolute;
    left: -$width;
    top: 0;
    margin-left: -12px;
    background: url("../img/icon-food.svg") no-repeat center;
  }
}

.advantages__item:last-of-type .advantages__paragraph {
  margin-bottom: 0;
}

.advantages__title {
  margin-top: 0;
}

.advantages__paragraph {
  color: $light-primary-text-color;
  margin-bottom: 26px;
}
