.advantages {
  padding: 35px 20px;
  padding-bottom: 36px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 158px 0 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 158px 0 54px;
  }
}

.advantages__list {
  @include reset-list;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    text-align: center;
  }
}

.advantages__item {
  position: relative;

  &--hous {
    grid-column: 1/2;
    grid-row: 1;
  }

  &--souvenirs {
    grid-column: 3/4;
    grid-row: 1;
  }

  &--food {
    grid-column: 2/3;
    grid-row: 1;
  }
}

.advantages__item:last-of-type .advantages__paragraph {
  margin-bottom: 0;
}

.advantages__icon {
  fill: $accent-color;

  &--food {
    $width: 40px;
    $height: 35px;
    width: $width;
    height: $height;
    position: absolute;
    left: -$width;
    top: -5px;
    margin-left: -12px;

    @media (min-width: $tablet-width) {
      $width: 76px;
      $height: 68px;
      width: $width;
      height: $height;
      left: 50%;
      transform: translate(-50%, -94%);
      margin-left: 0;
      margin-top: -26px;
    }
  }

  &--souvenirs {
    $width: 32px;
    $height: 38px;
    width: $width;
    height: $height;
    position: absolute;
    left: -33px;
    top: -11px;
    margin-left: -12px;

    @media (min-width: $tablet-width) {
      $width: 64px;
      $height: 75px;
      width: $width;
      height: $height;
      left: 50%;
      transform: translate(-51%, -86%);
      margin-left: 0;
      margin-top: -26px;
    }
  }

  &--housing {
    $width: 39px;
    $height: 37px;
    width: $width;
    height: $height;
    position: absolute;
    left: -37px;
    top: -9px;
    margin-left: -12px;

    @media (min-width: $tablet-width) {
      $width: 75px;
      $height: 72px;
      width: $width;
      height: $height;
      left: 50%;
      transform: translate(-50%, -87%);
      margin-left: 0;
      margin-top: -26px;
    }
  }
}

.advantages__title {
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 23px;
  }
}

.advantages__paragraph {
  color: $light-primary-text-color;
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .advantages__paragraph--housing {
    max-width: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__paragraph--souvenirs {
    max-width: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__paragraph--food {
    max-width: 157px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages__paragraph--housing {
    max-width: 300px;
  }

  .advantages__paragraph--souvenirs {
    max-width: 300px;
  }

  .advantages__paragraph--food {
    max-width: 300px;
  }
}
