.copyright {
  text-transform: uppercase;
  line-height: 26px;
  display: flex;
  align-items: center;
}

.copyright__text {
  margin-top: -8px;
  margin-right: 12px;
}

.copyright__logo {
  fill: $primary-text-color;

  &:hover {
    fill: $accent-color;
  }

  &:active {
    fill: $primary-text-color;
    opacity: 0.3;
  }
}
