.fieldset {
  border: none;
  padding: 20px 0 25px 0;
  margin: 0;
  min-width: 0;
  position: relative;

  @media (max-width: $mobile-only) {
    padding: 20px 20px 25px 20px;
    border-top: 1px solid $button-disabled;
  }

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  @media (min-width: $tablet-width) {
    &--impression {
      padding-right: 30px;
      border-right: 1px solid $button-disabled;
    }

    &--name {
      padding-left: 58px;
    }

    &--contacts,
    &--visited,
    &--emotions {
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 123px;
        height: 1px;
        top: 30px;
        background-color: $fieldset-decorative-border;
      }

      &::after {
        right: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--impression {
      padding-right: 50px;
    }

    &--name {
      padding-left: 79px;
    }

    &--contacts,
    &--visited,
    &--emotions {
      &::before,
      &::after {
        width: 280px;
      }

      &::after {
        right: 0;
      }
    }
  }
}

.fieldset__legend {
  float: right;
  text-align: center;
  justify-self: center;
  margin-bottom: 19px;
  max-width: 308px;

  &--name {
    @media (min-width: $tablet-width) {
      text-align: left;
      justify-self: start;
    }
  }

  &--contacts {
    margin-bottom: 17px;
  }

  &--impression {
    margin-bottom: 37px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
      text-align: left;
      justify-self: start;
    }
  }

  &--visited {
    margin-bottom: 36px;
  }
}

.fieldset__row {
  position: relative;
}

.fieldset__row--inline {
  display: flex;
  align-items: center;
}

.fieldset__input[type="text"],
.fieldset__input[type="email"] {
  display: block;
  width: 100%;
}

.fieldset--contacts .fieldset__row {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: auto;
}

.fieldset__decorative {
  width: 58px;
  height: 58px;
  background-color: $fieldset-decorative-background-color;

  &--phone {
    background-image: url("./../../img/icons/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--email {
    background-image: url("./../../img/icons/mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.fieldset__row:not(:last-of-type) {
  margin-bottom: 20px;
}

@media (max-width: $mobile-only) {
  .fieldset--contacts .fieldset__row:not(:last-of-type) {
    margin-bottom: 14px;
  }
}

.fieldset--impression .fieldset__row:not(:last-of-type) {
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.fieldset--visited .fieldset__row:not(:last-of-type) {
  margin-bottom: 54px;
}

.fieldset--name .fieldset__label {
  text-transform: uppercase;
  color: $light-primary-text-color;
  margin-right: 13px;
}

.fieldset--contacts .fieldset__label {
  text-transform: uppercase;
  color: $light-primary-text-color;
  display: inline-block;
  grid-column: 1 / -1;

  @media (max-width: $mobile-only) {
    margin-left: 21px;
    margin-bottom: 8px;

    &[for="email"] {
      margin-bottom: 5px;
    }
  }
}

.fieldset--impression .fieldset__label,
.fieldset--visited .fieldset__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 75px;
}

.fieldset__textarea {
  height: 160px;
}

.feedback__submit {
  width: auto;
  margin: 26px 20px 48px 20px;
  padding: 18.5px 33px 13.5px 32px;
}

// Tablet grid transformation
@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .fieldset--visited {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }

  .fieldset--visited .fieldset__legend {
    grid-column: 1 / -1;
    max-width: 310px;
    justify-self: center;
  }

  .fieldset--visited .fieldset__row {
    margin-bottom: 62px;

    &:nth-last-of-type(odd) {
      justify-self: start;
    }

    &:nth-last-of-type(even) {
      justify-self: end;
      margin-right: 35px;
    }
  }
}

.fieldset__row .fieldset__label--desktop-only {
  display: none;
}

// Desktop grid transformation
@media (min-width: $desktop-width) {
  .fieldset--contacts {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }

  .fieldset--contacts .fieldset__legend {
    grid-column: 1 / -1;
    margin-bottom: 71px;
  }

  .fieldset--contacts .fieldset__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 31px;
  }

  .fieldset--contacts .fieldset__label {
    margin-right: 16px;

    &[for="phone-number"] {
      display: none;
    }

    &--desktop-only[for="phone-number"] {
      display: inline-block;
    }
  }

  .fieldset--contacts .fieldset__input {
    flex: 0 0 257px;
  }

  .fieldset--visited {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
  }

  .fieldset--visited .fieldset__legend {
    grid-column: 1 / -1;
    margin-bottom: 58px;
  }

  .fieldset--visited .fieldset__row {
    margin-bottom: 62px;
    justify-self: start;
  }
}
