.gallery__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 648px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    max-width: 1200px;
  }
}

.gallery__item {
  @media (min-width: $tablet-width) {
    flex: 0 0 324px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 400px;
  }
}

.gallery__item--big {
  @media (min-width: $tablet-width) {
    flex-basis: 100%;
  }
}
