.image-card {
  line-height: 24px;
  width: 100%;
  border-bottom: 1px solid $button-disabled;
  padding: 20px;

  &:first-of-type {
    border-top: 1px solid $button-disabled;
  }
}

.image-card__link {
  line-height: 0;
  display: block;
}

.image-card__image {
  width: 100%;
  height: auto;
}

.image-card__name {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0px;
}

.image-card__author {
  color: $light-primary-text-color;
  margin-top: 0px;
  margin-bottom: 10px;
}
