.image-card {
  line-height: 24px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $mobile-only) {
    border-bottom: 1px solid $button-disabled;
    padding: 22px 20px 19px;

    &:first-of-type {
      border-top: 1px solid $button-disabled;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &--big {
    @media (min-width: $tablet-width) {
      height: 480px;
    }

    @media (min-width: $desktop-width) {
      height: 400px;
    }
  }
}

.image-card__link {
  line-height: 0;
  display: block;
}

.image-card__image {
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }

  &--big {
    @media (min-width: $tablet-width) {
      width: 648px;
      height: 400px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      height: 400px;
    }
  }
}

.image-card__caption {
  @media (min-width: $tablet-width) {
    background-color: $input-background-color;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    transform: translateY(-100%);
    color: $secondary-text-color;
    background-color: transparent;
    position: relative;
    margin-bottom: -80px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      background-color: $primary-text-color-A30;
      z-index: -1;
    }
  }
}

.image-card:nth-of-type(odd):not(:first-of-type) .image-card__caption {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    background-color: $image-card-caption-dark;
  }
}

.image-card__name {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;

  @media (max-width: $mobile-only) {
    margin-bottom: 2px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.image-card__author {
  margin: 0;

  @media (max-width: $desktop-width - 1px) {
    color: $light-primary-text-color;
  }
}

.image-card__actions {
  align-self: center;

  @media (max-width: $mobile-only) {
    transform: translate(0px, 6px);
  }
}

@media (min-width: $tablet-width) {
  .image-card:first-of-type .image-card__actions {
    transform: translateY(-3px);
  }

  .image-card:not(:first-of-type) .image-card__actions {
    transform: translate(-9px, -3px);
  }

  .image-card:nth-of-type(3n) .image-card__actions {
    transform: translate(-16px, -3px);
  }
}
