.input {
  @include main-font;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.input::placeholder {
  @include main-font;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: $primary-text-color;
}

.input--text {
  padding: 19px 22px 16px 22px;
  background-color: $input-background-color;

  &:hover {
    background-color: $button-disabled;
  }

  &:focus {
    background-color: transparent;
    box-shadow: inset 0 4px 0 $button-disabled,
      inset 0 -4px 0 $button-disabled,
      inset 4px 0 0 $button-disabled,
      inset -4px 0 0 $button-disabled;
  }
}

.input--textarea {
  resize: none;
  padding: 13px 20px;
  width: 100%;
  background-color: $input-background-color;
}

@mixin checkbox-pseudo {
  $width: 51px;
  content: "";
  position: absolute;
  width: $width;
  height: $width;
  left: 0;
  transform: translateY(-25%);
}

.input--checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input--checkbox + .input--lable {
  cursor: pointer;

  &::before {
    @include checkbox-pseudo;
    background-color: $input-background-color;

    @media (max-width: $desktop-width - 1px) {
      border-radius: 10px;
    }
  }
}

.input--checkbox:hover + .input--lable {
  &::before {
    background-color: $button-disabled;
  }
}

.input--checkbox:active + .input--lable {
  &::before {
    background-color: $input-checkbox-focus;
  }

  &::after {
    opacity: 0.3;
  }
}

.input--checkbox:checked + .input--lable {
  &::after {
    @include checkbox-pseudo;
    background-image: url("../img/icons/checked.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@mixin radio-pseudo($width: 52px) {
  content: "";
  position: absolute;
  width: $width;
  height: $width;
  left: 0;
  border-radius: 50%;
}

.input--radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input--radio + .input--lable {
  &::before {
    @include radio-pseudo;
    transform: translateY(-25%);
    background-color: $input-background-color;
  }
}

.input--radio:hover + .input--lable {
  &::before {
    @include radio-pseudo;
    background-color: $button-disabled;
  }
}

.input--radio:active + .input--lable {
  &::before {
    @include radio-pseudo;
    background-color: $input-checkbox-focus;
  }

  &::after {
    @include radio-pseudo;
    opacity: 0.3;
  }
}

.input--radio:checked + .input--lable {
  &::after {
    @include radio-pseudo(21px);
    background-color: $light-primary-text-color;
    transform: translate3d(73%, 11%, 0);
  }
}
