.input {
  @include main-font;
  font-size: 18px;
  font-weight: 700;
  background-color: $input-background-color;
  border: none;
}

.input::placeholder {
  @include main-font;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: $primary-text-color;
}

.input--text {
  padding: 19px 22px 16px 22px;

  &:hover {
    background-color: $button-disabled;
  }

  &:focus {
    background-color: transparent;
    box-shadow: inset 0 4px 0 $button-disabled,
      inset 0 -4px 0 $button-disabled,
      inset 4px 0 0 $button-disabled,
      inset -4px 0 0 $button-disabled;
  }
}

.input--textarea {
  resize: none;
  padding: 13px 20px;
  width: 100%;
}
