.introduction {
  padding: 18px 20px 20px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 600px;
  }
}

.introduction__title {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.introduction__paragraph {
  line-height: 26px;
  text-transform: uppercase;
  color: $light-primary-text-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.introduction__title--index {
  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 38px;
  }
}
