.like__button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-top: 5px;

  &:active {
    transform: scale(1.05);
  }
}

.like__icon {
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    opacity: 1;
    fill: $secondary-text-color;
  }
}

.like__counter {
  margin-left: 14px;

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin-left: 0;
    transform: translateY(-3px);
  }
}
