.like__button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-top: 5px;
  padding: 0;

  &:active {
    transform: scale(1.05);
  }
}

.like__icon {
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    opacity: 1;
    fill: $secondary-text-color;
  }
}

.like__counter {
  font-weight: 700;
  margin-left: 10px;
  display: inline-block;
  transform: translateY(-2px);

  @media (min-width: $tablet-width) {
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 6px;
  }
}
