.main-nav {
  text-transform: uppercase;
}

.no-js .main-nav__toggle {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -1px;
    background-color: $secondary-text-color;
    width: 27px;
    height: 4px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  box-shadow: 0 8px 0 0 $accent-color, 0 16px 0 0 $accent-color;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $accent-color-A60;
  box-shadow: 0 8px 0 0 $accent-color-A60, 0 16px 0 0 $accent-color-A60;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $accent-color-A30;
  box-shadow: 0 8px 0 0 $accent-color-A30, 0 16px 0 0 $accent-color-A30;
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 14px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  width: 23px;
  height: 23px;
  padding: 0;
  outline-offset: 3px;
  z-index: 1;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: $mobile-only) {
    display: none;
  }
}

.main-nav__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  font-size: 18px;
  line-height: 40px;
  background-color: $accent-color;
  font-weight: 700;
  color: $secondary-text-color;
  text-align: center;
  position: relative;

  &:hover {
    background-color: $accent-color-hover;
  }

  &:active {
    color: $secondary-text-color-A30;
    background-color: $accent-color-click;
  }

  @media (max-width: $mobile-only) {
    &:last-child::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 7px;
      background: linear-gradient(to bottom, transparent 0%, $primary-text-color-A20 100%);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 26px;
    background-color: transparent;
    color: $primary-text-color;
    flex-basis: 153px;
    display: flex;
    align-items: center;
    min-height: 56px;

    &:nth-child(3n + 3) {
      margin-left: auto;
    }

    &:hover {
      background-color: transparent;
      color: $accent-color;
    }

    &:active {
      background-color: transparent;
      color: $primary-text-color-A30;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 239px;
  }

  @media (max-width: $mobile-only) {
    box-shadow: inset 0 1px 0 $nav-item-shadow-bottom, 0 1px 0 $nav-item-shadow-top;

    &:first-child {
      box-shadow: 0 1px 0 $nav-item-shadow-bottom;
    }
  }
}

.main-nav__link {
  @media (max-width: $mobile-only) {
    padding: 10px 10px 5px 10px;
  }
  display: inline-block;
  width: 100%;
  color: inherit;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__link--active {
    color: $main-nav-text-active;

    &:hover {
      color: $main-nav-text-hover;
    }

    &:active {
      color: $main-nav-text-active-A30;
    }
  }
}

@media (max-width: $mobile-only) {
  .main-nav__item:nth-of-type(3) .main-nav__link {
    padding: 12px 10px 5px;
  }
}
