.modal {
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 7px 15px $modal-shadow;

  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__paragraph {
  margin-bottom: 29px;
  text-transform: uppercase;
}

.modal__button {
  width: 100%;
  padding: 18px 20px 14px 20px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.modal--success > .modal__paragraph {
  margin-bottom: 48px;

  @media screen {
    margin-bottom: 79px;
  }
}

.modal--success {
  background: linear-gradient(to bottom, $body-background-color 201px, $input-background-color 201px);

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $body-background-color 201px, $input-background-color 201px);
    padding: 54px 91px 44px 91px;
  }
}

.modal--error {
  @media (min-width: $tablet-width) {
    padding: 52px 64px 49px 64px;
    width: 400px;
  }
}

.modal--error > .modal__button {
  padding: 18px 64px 14px 63px;

  @media (min-width: $tablet-width) {
    width: 272px;
  }
}
