.page-title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 36px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    max-width: 560px;
    margin: 0 auto;
  }

  &--gallery {
    padding-top: 32px;
    padding-bottom: 33px;

    @media (min-width: $desktop-width) {
      margin-bottom: 32px;
      padding-top: 100px;
      padding-bottom: 48px;
      max-width: 440px;
    }
  }

  &--video {
    @media (min-width: $desktop-width) {
      padding-top: 60px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 30px;
      max-width: 500px;
    }
  }
}

.page-title__title {
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.page-title--gallery > .page-title__title {
  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.page-title__paragraph {
  line-height: 24px;
  color: $light-primary-text-color;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    max-width: 435px;
    margin: 0 auto;
  }
}

.page-title--video > .page-title__title {
  margin-bottom: 33px;
}

.page-title--video > .page-title__paragraph {
  padding-left: 20px;
  padding-right: 20px;
}
