.page-header {
  min-height: 56px;

  @media (max-width: $mobile-only) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.page-header__logo {
  height: 56px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  @media (max-width: $mobile-only) {
    overflow: visible;
    z-index: 1;
    margin: 0 auto;
  }
}

.page-header__logo-image {
  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
