.page-footer__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__hashtag {
  margin-top: 38.5px;
  margin-bottom: 33.5px;
}

.page-footer__socials {
  margin-bottom: 40px;
}

.page-footer__copyright {
  margin-bottom: 23px;
}
