.page-title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 36px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    max-width: 560px;
    margin: 0 auto;
  }

  &--gallery {
    padding: 33px 20px 31px;

    @media (min-width: $tablet-width) {
      padding: 54px 0 77px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 32px;
      padding-top: 100px;
      padding-bottom: 48px;
      max-width: 440px;
    }
  }

  &--video {
    padding: 32px 20px 34px;

    @media (min-width: $tablet-width) {
      padding: 55px 0 76px;
      max-width: 500px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 60px;
      padding-bottom: 73px;
      margin-bottom: 0;
    }
  }
}

.page-title__title {
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.page-title__paragraph {
  line-height: 24px;
  color: $light-primary-text-color;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    max-width: 435px;
    margin: 0 auto;
  }
}

.page-title--gallery > .page-title__title {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.page-title--video > .page-title__title {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    margin-bottom: 33px;
  }
}

.page-title--video > .page-title__paragraph {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    max-width: 500px;
    margin-bottom: 4px;
  }
}
