.reasons {
  background-color: $reasons-bg-color;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.reasons__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.reasons__item {
  padding-top: 25px;
  padding-bottom: 24px;

  @media (max-width: $mobile-only) {
    &:not(:last-of-type) {
      border-bottom: 1px solid $reasons-border-color;
    }
  }

  @media (min-width: $tablet-width) {
    flex: 1 0 256px;
    min-height: 256px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex: 1 0 400px;
    min-height: 256px;
    padding: 28px 40px;
  }
}

.reasons__title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 10px;
  }
}

.reasons__paragraph {
  color: $light-primary-text-color;

  @media (min-width: $tablet-width) {
    margin-top: 1px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
    margin-bottom: 19px;
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-bottom: 18px;
    }
  }

  &--road {
    @media (min-width: $tablet-width) {
      max-width: 19ch;
    }

    @media (min-width: $desktop-width) {
      max-width: 36ch;
    }
  }

  &--tourists {
    @media (min-width: $tablet-width) {
      max-width: 20ch;
    }

    @media (min-width: $desktop-width) {
      max-width: 35ch;
    }
  }
}

@media (max-width: $mobile-only) {
  .reasons__item {
    padding-bottom: 6px;
    max-width: 255px;
    margin: 0 auto;
  }

  .reasons__title {
    margin-top: 0;
    margin-bottom: 11px;
  }

  .reasons__paragraph {
    margin-top: 0;
    margin-bottom: 18px;
  }
}
