.socials__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.socials__item {
  margin-bottom: 6px;
}

.socials__item:not(:last-child) {
  margin-right: 6px;
}

.socials__link {
  background-color: $accent-color;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--facebook {
    width: 47px;
  }
}

.socials__icon {
  fill: $secondary-text-color;
}
