.video {
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 85px;
  }
}

.video__player {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__placeholder {
  display: block;
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    height: 500px;
  }
}

.video__controls {
  $time-line-height: 45px;
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-template-rows: $time-line-height 66px;
  transform: translateY(-$time-line-height);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -$time-line-height;
  background: linear-gradient(to bottom, $time-line-background-color $time-line-height, $input-background-color $time-line-height);
  padding: 0 22px;

  @media (min-width: $tablet-width) {
    $time-line-height: 93px;
    margin-left: 0;
    margin-right: 0;
    transform: translateY(-$time-line-height);
    background: linear-gradient(to bottom, $time-line-background-color $time-line-height, $time-line-background-color $time-line-height);
    grid-template-rows: $time-line-height;
    padding: 0;
  }
}

.video__time-line-container {
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }
}

.video__time-line {
  width: 100%;
  height: 3px;
  background-color: $secondary-text-color-A20;
  --time: 15.1;

  @media (min-width: $tablet-width) {
    --time: 29;
  }

  @media (min-width: $desktop-width) {
    --time: 21;
  }

  &::before {
    $size: 9px;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    background-color: $secondary-text-color;
    width: $size;
    height: $size;
    border-radius: 50%;
    left: calc(var(--time) * 1%);
    cursor: pointer;
  }
}

.video__button {
  background-color: transparent;
  grid-row: 1 / 2;
  border: none;
  cursor: pointer;

  &--replay {
    grid-column: 1 / 2;
    padding: 0;
    margin: 20px 3px;

    @media (min-width: $tablet-width) {
      margin: 33px 42px 33px 35px;
    }

    @media (min-width: $desktop-width) {
      margin: 33px 41px 33px 34px;
    }
  }

  &--subtitles {
    grid-column: 3 / 4;
    padding: 0;
    margin: 20px 30px;

    @media (min-width: $tablet-width) {
      margin: 35px 23px 33px 42px;
    }

    @media (min-width: $desktop-width) {
      margin: 35px 24px 33px 42px;
    }
  }

  &--fullscreen {
    grid-column: 4 / 5;
    padding: 0;
    margin: 20px 1px;

    @media (min-width: $tablet-width) {
      margin: 36px 41px 36px 8px;
    }

    @media (min-width: $desktop-width) {
      margin: 36px 43px 35px 7px;
    }
  }

  @media (max-width: $mobile-only) {
    grid-row: 2 / 3;
  }

  &:active {
    transform: scale(1.05);
  }
}

.video__controls-icon {
  fill: $video-icons-mobile;

  @media (min-width: $tablet-width) {
    fill: $video-icons-tablet;
  }
}
