$accent-color: #81b3d2;
$accent-color-A60: transparentize($accent-color, 0.4);
$accent-color-A30: transparentize($accent-color, 0.7);
$accent-color-hover: #669ec0;
$accent-color-click: #5496bd;
$button-disabled: #e5e5e5;
$primary-text-color: #000000;
$primary-text-color-A30: transparentize($primary-text-color, 0.7);
$time-line-background-color: transparentize(#000000, 0.4);
$light-primary-text-color: #333333;
$secondary-text-color: #ffffff;
$secondary-text-color-A30: transparentize($secondary-text-color, 0.7);
$main-nav-text-active: #766357;
$main-nav-text-active-A30: transparentize(#766357, 0.7);
$main-nav-text-hover: #604e43;
$main-nav-text-click: transparentize($main-nav-text-active, 0.7);
$reasons-bg-color: #eeeeee;
$reasons-border-color: #d6d6d6;
$input-background-color: #f2f2f2;
$input-checkbox-focus: #d5d5d5;
$modal-shadow: #00010126;
$body-background-color: #ffffff;
$body-shadow-color: #00010133;

$nav-item-shadow-top: #ffffff33;
$nav-item-shadow-bottom: #01010133;
$fieldset-decorative-background-color : #e6e6e6;
$fieldset-decorative-border: #dbdbdb;
$image-card-caption-dark: #eaeaea;
