@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin main-font {
  font-family: "PT Sans", "Arial", sans-serif;
}

@mixin input-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
