*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  @include main-font;
  font-size: 14px;
  line-height: 21px;
  background-color: $input-background-color;
}

.page-body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $body-background-color;
  box-shadow: 0 5px 15px $body-shadow-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.page__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
